@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts */
@font-face {
  font-family: "LogoFont";
  src: url("/fonts/logo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DescriptionFont";
  src: url("/fonts/desc.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  overflow: hidden;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
}

* {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #038fa8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f3d535;
}
